body {
    background-image: url(Barbie.jpg);
    background-size: cover;
    font-family: 'Barbie', sans-serif;
    padding: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -20px;
    padding: 40px;
}

h2 {
    color: black;
    font-size: 55px;
    margin-bottom: 1px;
    padding: -10%;
}

h3 {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 0;
    padding: 40px;
}

button {
    font-family: 'Barbie', sans-serif;
    font-size: 50px;
    background-color: #E0218A;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}